@media (max-width: 768px) {
    html{
        scroll-behavior: smooth;
    }
    body{
        scroll-behavior: smooth;
        background: linear-gradient(180deg, #4285F4 0%, #3C83F9 100%);  
    }

/* Vertical Nav Bar */
.container {
  margin-top: 20px;
  font-size: 16px;
}

.container p {
  margin-left: 10px;
  font-size: 18px;
}

nav {
  position: sticky;
  margin-top: 0px;
  margin-left: 10px;
  margin-right: 10px;
  width: 90%;
  height: 80vh;
  border-radius: 20px;
  color: #fff;
  background: linear-gradient(180deg, #4285F4 0%, #3C83F9 100%);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

li {
  display: inline-block;
  margin: 0 2px;
  font-size: 18px;
  box-sizing: border-box;
  vertical-align: middle;
  transition: 0.5s;
}

li:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 16px -7px rgba(0, 0, 0, 0.3);
}

.logout {
  display: none;
}

/* Horizontal Navbar + Cards */
.container2 {
  margin-top: 20px;
  margin-left: -10px;
}

.horizontal-navbar {
  display: none;
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0 10px; /* Add some horizontal padding */
}

.card {
  width: 100%;
  margin: 10px auto;
  padding: 20px;
  border: 1px solid #ccc;
  box-sizing: border-box; /* Include padding and border in width calculation */
  max-width: 400px;
}

.card p {
  font-size: 18px;
}

.card h3 {
  font-size: 24px;
}

.card .fas.fa-tasks {
  height: 60px !important;
  width: 60px !important;
  border-radius: 60px !important;
  padding-top: 20px !important;
}

/* Bar Graph */
.bar-graph {
  text-align: center;
  margin: 15px auto;
  max-width: 100%;
}

#myChart {
  max-width: 100%;
  height: auto;
}

.chart-container {
  margin: 20px 0;
}

.bar-graph .chartjs-render-monitor {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Donut & Profile */
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.programming-stats {
  width: 100%;
  max-width: 100%;
  height: auto;
  margin-top: 30px;
  margin-left: -10px;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 20px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.chart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
}

.details {
  text-align: left;
  margin-top: 10px;
  width: 100%;
}

.details ul {
  padding: 20px;
  list-style-type: none;
  text-align: left;
}

.details ul li {
  margin-bottom: 5px;
}

.my-chart {
  max-width: 100%;
  height: auto;
}

.add-profile {
  text-decoration: none;
  color: #333;
}

.circle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #007bff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.plus-icon {
  font-size: 24px;
  color: #fff;
}

}